//
//  Development.xcconfig
//  Joli
//
//  Created by Anthony Chinwo on 09/05/2020.
//  Copyright © 2020 Anthony Chinwo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
XCC_BUNDLE_NAME = Joli Dev
XCC_CONFIG_PATH = Development/Config.plist
